body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #D8D8E6;
}

.board {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 25px 0 0 25px;
}

.column {
  width: 25%;
  margin-right: 25px;
}

.column-name {
  padding: 10px;
}

.card {
  background-color: white;
  color: #0C0C0C;
  margin: 5px 0;
  padding: 20px;
}

.column-name {
  background-color: #B0A5DE;
  color: white;
}